/* // .ui-g-6  {
//     border:1px solid green;
// }
// .ui-g-4  {
//     border:1px solid green;
// } */
.task{
    cursor: pointer;
    padding:10px;
    border: 1px solid black;
    margin: 2px 0 2px 4px;
} 